<%- include('header.ejs') %>
    <div class="main-about"></div>
        <h1>
            <%= title %>
        </h1>
        <div class="about">
            <p>
                Este é um projeto simples de uma Todo List, feito apenas para praticar os conceitos de CRUD, utilizando o Nodejs, Express, MongoDB e EJS. O obejtivo desta aplicação é apenas práticar o que venho aprendendo até o momento com estas tecnologias.
            </p>
            <p>
                Atualmente estou estudando Nodejs e alguns de seus frameworks e integrando com DBs para ter uma melhor experiência. Meu principal objetivo é poder criar APIs e como integrar uma API com serviços back e front-end.
            </p>
            <p>
                Pretendo colocar este projeto no GitHub e ir atualizando conforme vou aprimorando minhas habilidades como programador NodeJS. No momento este projeto é apenas para meu uso pessoal.
            </p>
            <p>
                Caso queira entrar em contato comigo, pode enviar um email para <a href="mailto: kako.rd.ad@gmail.com" target="_blank">kako.rd.ad@gmail.com</a> ou me mandar uma mensagem através do <a href="https://www.linkedin.com/in/kauealmeida99/" target="_blank">LinkedIn</a>, no momento estou a procura de uma oportunidade de estágio como desenvolvedor. Não esqueça de dar uma olhada em meu <a href="https://github.com/kakoalmeida" target="_blank">GitHub</a>.
            </p>
        </div>
    
    </div>
    <%- include('footer.ejs') %>